nova-ingest/statemachines/nova_ingest.asl.json
{
  "Comment": "Nova ingest: resolver -> validate -> determine host galaxy",
  "StartAt": "ResolveSimbad",
  "States": {
    "ResolveSimbad": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "${ResolveSimbadArn}", "Payload.$": "$" },
      "ResultPath": "$.resolver",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "BackoffRate": 2.0, "MaxAttempts": 3 }],
      "Next": "CheckFound"
    },
    "CheckFound": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.resolver.Payload.status", "StringEquals": "NOT_FOUND", "Next": "DoneNoop" }
      ],
      "Default": "Validate"
    },
    "Validate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "${ValidateArn}", "Payload.$": "$.resolver.Payload" },
      "OutputPath": "$.Payload",
      "Next": "QueryADSBibcodes"
    },
    "QueryADSBibcodes": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${QueryAdsArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "End": true
    },
    "DoneNoop": { "Type": "Succeed" }
  }
}
